@import '../css/media.scss';
@import '../css/reset.scss';

.vongquay-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .anh_2 {
        @include xs {
            width: 220%;
            object-fit: cover;
            @media (orientation: landscape) {
                width: 100%;
            }
        }
        @include sm {
            width: 220%;
            object-fit: cover;
            @media (orientation: landscape) {
                width: 100%;
            }
        }
        @include lg {
            width: 960px;
            height: 540px;
            object-fit: unset;
        }
    }
    .vongquay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        @include xs {
            width: 95vw;
            bottom: 35%;
            @media (orientation: landscape) {
                bottom: 10%;
            }
        }
        @include sm {
            width: 150vw;
            @media (orientation: landscape) {
                width: 100vw;
            }
        }
        @include lg {
            width: 80vw;
        }
        @include xl {
            width: 90%;
        }
        .arrow {
            position: absolute;
            z-index: 1;
            top: -1%;
            @include xs {
                height: 20%;
            }
            @include sm {
                height: 20%;
            }
            @include md {
                height: 20%;
            }
            @include lg {
                width: 50px;
                height: 60px;
            }
        }
        .anh_vongquay {
            @include xs {
                width: 100%;
                @media (orientation: landscape) {
                    width: 50%;
                }
            }
            @include sm {
                width: 60%;
            }
            @include md {
                width: 55%;
            }
            @include lg {
                // width: 350px;
                // height: 350px;
                width: 60%;
            }
        }
        .btXoay {
            position: absolute;
            text-align: center;
            cursor: pointer;
            @include xs {
                //margin-right: 20%;
            }
            @include sm {
            }
            @include lg {
            }
            .anh_btn-quay {
                @include xs {
                    height: 30px;
                    width: 30px;
                    &:hover {
                        transform: scale(1.3);
                        transition: 0.5s;
                    }
                }
                @include sm {
                    height: 40px;
                    width: 40px;
                    &:hover {
                        transform: scale(1.3);
                        transition: 0.5s;
                    }
                }
                @include lg {
                    height: 50px;
                    width: 50px;
                    &:hover {
                        transform: scale(1.3);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
