@import '../css/media.scss';
@import '../css/reset.scss';

.vongquay-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .anh_2 {
        @include xs {
            width: 100%;
            height: 100%;
        }
        @include sm {
            width: 100%;
            height: 100%;
        }
        @include lg {
            width: 960px;
            height: 540px;
        }
    }
    .vongquay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        @include xs {
            // margin-left: 30%;
            // margin-right: 26%;
            width: 50%;
            margin-top: 15%;
        }
        @include sm {
        }
        @include lg {
            // margin-left: 30%;
            // margin-right: 26%;
            // bottom: 5%;
        }
        .arrow {
            @include xs {
                position: absolute;
                z-index: 1;
                top: 0;
                height: 20%;
            }
            @include sm {
                position: absolute;
                z-index: 1;
                top: 0;
                height: 20%;
            }
            @include md {
                position: absolute;
                z-index: 1;
                top: 0;
                height: 20%;
            }
            @include lg {
                position: absolute;
                top: 0;
                z-index: 1;
                width: 50px;
                height: 60px;
            }
        }
        .anh_vongquay {
            @include xs {
                width: 130%;
                //margin-right: 20%;
            }
            @include sm {
                width: 60%;
            }
            @include md {
                width: 55%;
            }
            @include lg {
                // width: 350px;
                // height: 350px;
                width: 60%;
            }
        }
        .btXoay {
            //animation: ring 3s 1s ease-in-out infinite;
            position: absolute;
            text-align: center;
            cursor: pointer;
            @include xs {
                //margin-right: 20%;
            }
            @include sm {
            }
            @include lg {
            }
            .anh_btn-quay {
                @include xs {
                    height: 30px;
                    width: 30px;
                    &:hover {
                        transform: scale(1.3);
                        transition: 0.5s;
                    }
                }
                @include sm {
                    height: 40px;
                    width: 40px;
                    &:hover {
                        transform: scale(1.3);
                        transition: 0.5s;
                    }
                }
                @include lg {
                    height: 50px;
                    width: 50px;
                    &:hover {
                        transform: scale(1.3);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
@keyframes ring {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(30deg);
    }
    10% {
        transform: rotate(-28deg);
    }
    15% {
        transform: rotate(34deg);
    }
    20% {
        transform: rotate(-32deg);
    }
    25% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(-28deg);
    }
    35% {
        transform: rotate(26deg);
    }
    40% {
        transform: rotate(-24deg);
    }
    45% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(18deg);
    }
    60% {
        transform: rotate(-16deg);
    }
    65% {
        transform: rotate(14deg);
    }
    70% {
        transform: rotate(-12deg);
    }
    75% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-8deg);
    }
    85% {
        transform: rotate(6deg);
    }
    90% {
        transform: rotate(-4deg);
    }
    95% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}
